@model RatingIndexViewModel

<h4>All ratings</h4>
<table class="table">
    <thead>
        <tr>
            <th>BookTitle</th>
            <th>RatingNumber</th>
            <th>Comment</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rating in Model.ratings)
        {
            <tr>
                <td>@rating.BookTitle</td>
                <td>@rating.RatingNumber</td>
                <td>@rating.Comment</td>
                <td>
                    <a class="btn btn-secondary my-1" href="@Url.Action("Edit", "AdminRating", new { Id = rating.Id })">Edit</a>
                    <input class="btn btn-secondary my-1" type="submit" value="Delete" />
                </td>
            </tr>
        }
    </tbody>
</table>