@model FE.Models.Admin.ChangeBookAuthorViewModel

<h4>Authors</h4>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birth date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model.Authors)
        {
                <tr>
                    <td>@author.Name</td>
                    <td>@author.BirthDate.ToString("dd-MM-yyyy")</td>

                <td>
                    @using (Html.BeginForm("ChangeAuthor", "AdminBook", new { authorId = author.Id, bookId = Model.BookId }, FormMethod.Post, true, new { @class = "form-inline" }))
                    {
                        <input class="btn btn-secondary my-1" type="submit" value="Choose" />
                    }

                </tr>
        }
    </tbody>
</table>
