@model FE.Models.Admin.AdminChangeBookAuthorViewModel

<h4>Authors</h4>


<div class="row">
    <div class="col-md-4">
        <div>
    <form asp-controller="Author" asp-action="Index">
    
        <p>
            <input type="text" name="SearchString"  />
            <input type="submit" value="Search" />
        </p>
    
    </form>
        </div>
    </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birth date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model.Authors)
        {
                <tr>
                    <td>@author.Name</td>
                    <td>@author.BirthDate.ToString("dd-MM-yyyy")</td>

                <td>
                    @using (Html.BeginForm("ChangeAuthor", "AdminBook", new { authorId = author.Id, bookId = Model.BookId }, FormMethod.Post, true, new { @class = "form-inline" }))
                    {
                        <input class="btn btn-secondary my-1" type="submit" value="Change author" />
                    }

                </tr>
        }
    </tbody>
</table>

<div>
    @{
        await Html.RenderPartialAsync("_PaginationPartial", Model.Pagination);
    }
</div