@model FE.Models.Admin.ChangeBookGenresViewModel

<h1>Change genres</h1>

<table class="table">
    <thead>
        <tr>
            <th>Genre</th>

        </tr>
    </thead>
    <tbody>
        <form method="post">
          
            
                @foreach (var genre in Model.Genres)
                {
            <tr>
                <td><input name="CheckedGenres" type="checkbox" value="@genre.Name" /> @genre.Name</td>
            </tr>
                }
            
        <tr><td><button type="submit" class="btn btn-primary">Save</button></td></tr>
        </form>
    </tbody>
</table>
