@model FE.Models.BookEditVIewModel
<link href="~/jqueryui/jquery-ui.css" rel="stylesheet" />


<h1>@Model.Title</h1>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.Id)
            @Html.AntiForgeryToken()
            <hr />

            <div class="form-group">
                @Html.LabelFor(x => x.Release)
                <input asp-for="Release" type="text" class="form-control" placeholder="Release" />

            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        }

    </div>
</div>
@section scripts{
    <script src="~/jqueryui/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#Release").datepicker({ dateFormat: 'dd-mm-yy' });
        });
    </script>
}