@model ReservationIndexViewModel

<h4>Reservations</h4>
<table class="table">
    <thead>
        <tr>
            <th>Book</th>
            <th>From date</th>
            <th>To date</th>
            <th>Branch</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model.reservations)
        {
            <tr>
                <td>@reservation.BookTitle</td>
                <td>@reservation.StartDate</td>
                <td>@reservation.EndDate</td>

                <td>
                    @if (reservation.StartDate >= DateTime.UtcNow)
                    {
                        <a class="btn btn-secondary my-1" href="@Url.Action("Edit", new { Id = reservation.Id })">Edit</a>
                    }
                    <input class="btn btn-secondary my-1" type="submit" value="Delete" />
                </td>
            </tr>
        }
    </tbody>
</table>