@using FE.Models.Admin
@model AdminBookPrintIndexViewModel
<h4>Book prints</h4>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>BookTitle</th>
            <th>Branch</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <a class="btn btn-secondary my-1" href="@Url.Action("Add", "AdminBookPrint")">Add</a>
        @foreach (var bookPrint in Model.bookPrints)
        {
            <tr>
                <td>@bookPrint.Id</td>
                <td>@bookPrint.BookTitle</td>
                <td>@bookPrint.BranchName</td>
                @*<td>
                    @using (Html.BeginForm("Delete", "AdminBookPrint", new { id = bookPrint.Id }, FormMethod.Post, true, new { @class = "form-inline" }))
                    {
                        <input class="btn btn-secondary my-1" type="submit" value="Delete" />
                    }
                </td>*@
                @if(bookPrint.CanBeDeleted)
                {
                    <td>
                        @using (Html.BeginForm("Delete", "AdminBookPrint", new { id = bookPrint.Id }, FormMethod.Post, true, new { @class = "form-inline" }))
                            {
                                <input class="btn btn-secondary my-1" type="submit" value="Delete" />
                            }
                    </td>
                }
                else 
                {
                    <td>
                        <a class="btn btn-secondary my-1" onclick="showAlert()">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        function showAlert() {
        var myText = "This print cannot be deleted because it is currently reserved";
        alert (myText);
      }
        </script>
}
